/* add image to the body */
body {
  background-image: url("../img/colin-lloyd-unsplash.jpg");
  object-fit: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.SearchBtn {
  width: 250px;
  margin-top: 10px;
  color: rgba(67, 33, 201, 0.278) !important;
  background-color: white !important;
  border: 1px solid rgba(67, 33, 201, 0.278) !important;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

#search-button:hover {
  background-color: rgba(87, 186, 1, 0.722) !important;
  color: rgb(255, 255, 255) !important;
}
.weather-header {
  font-size: 0.5rem;
  background-color: rgba(67, 33, 201, 0.278);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardStyle {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: -4px -2px 28px -4px rgba(0, 0, 0, 0.94);
  -webkit-box-shadow: -4px -2px 28px -4px rgba(0, 0, 0, 0.94);
  -moz-box-shadow: -4px -2px 28px -4px rgba(0, 0, 0, 0.94);
  height: 200px !important;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* .bug {
  border: 1px solid rgb(255, 0, 0);
} */

.forecastDiv {
  margin-left: 2px !important;
}
