.SearchBtn {
  width: 250px;
  margin-top: 10px;
}

.weather-header {
  /* background-color: #340909 !important; */
  background-image: linear-gradient(315deg, #afafaf 0%, #5a5a5a 74%) !important;
}

body{

background-image: src="assets/images/Background.jpg";
}
